@font-face {
    font-family: "unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 768px) {
    body {
        background-color: red;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #0E1014;
    color: #FFFFFF;
}

.imagem-logo {
    display:  block;
    margin: 75px 0 0 360;
}

.titulo-principal {
    font-size: 64px;
    color: #9747FF;
    font-family: "Unbounded", sans-serif;
    font-weight: bold;
    font-weight: 100;
    text-align: center;
    
}

.descricao-principal {
    font-family: "Poppins", sans-serif;
    font-size: 24x;
    text-align: center;
    margin: 24px auto 0;
    width: 600px;
    
}

.botao-principal {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto;
}

.botao-principal:hover {
    background-color: #8233E8;
}

.imagem-celulares {
    
}

.titulo-principal .titulo-linha {
    display: block;
    text-decoration: none;
}

.titulo-principal .titulo-destaque {
    color: #F5F5F5;
}






